NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# These environment variables are used for Supabase Local Dev
NEXT_PUBLIC_SUPABASE_URL=XXXXXXXXX
NEXT_PUBLIC_SUPABASE_ANON_KEY=XXXXXXXXX

# Get these from Stripe dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=XXXXXXXXX
STRIPE_SECRET_KEY=XXXXXXXXX
STRIPE_WEBHOOK_SECRET=XXXXXXXXX

# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXXX


NEXT_PUBLIC_UPSTREET_LOGIN_URL=XXXXXXXXX