.ucomButton {
  background: transparent;
  border: 2px solid transparent;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 0;
  padding: 1rem;
}

a.ucomButton {
  text-decoration: none;
  text-align: center;
}

.ucomButton.small {
  padding: 0.8rem 1rem;
}

.ucomButton.medium {
  padding: 1.42rem;
}

.ucomButton.large {
  padding: 1.60rem;
  font-size: 1.2rem;
}

.ucomButton.shadow {
  box-shadow: -6px 6px 0px rgba(0, 0, 0, 1);
}

/* Primary/Default variant styles */

.ucomButton,
.ucomButton.primary {
  background: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
}

.ucomButton:hover,
.ucomButton.primary:hover {
  background: #FFFFFF;
  border: 2px solid #2A7FFF;
  color: #2A7FFF;
}

.ucomButton.active,
.ucomButton.primary.active {
  background: #000000;
  border: 2px solid #000000;
  color: #FFFFFF;
}

.ucomButton:disabled,
.ucomButton.primary:disabled,
.ucomButton:disabled:hover,
.ucomButton.primary:disabled:hover {
  opacity: 0.7;
  cursor: not-allowed;
  background: #ffe477;
  border: 2px solid #FFFFFF;
  color: #000000;
}

/* Secondary variant styles */

.ucomButton.secondary {
  background-color: #57F3CC;
  border: 2px solid #1B4C40;
  color: #000000;
}

.ucomButton.secondary:hover {
  background-color: #FFFFFF;
  border: 2px solid #0BD19F;
  color: #0BD19F;
}

.ucomButton.secondary.active {
  background-color: #000000;
  border: 2px solid #000000;
  color: #57F3CC;
}

/* Accent variant styles */

.ucomButton.accent {
  background-color: #5765EC;
  border: 2px solid #131C6B;
  color: #000000;
}

.ucomButton.accent:hover {
  background-color: #FFFFFF;
  border: 2px solid #3C48C2;
  color: #3C48C2;
}

.ucomButton.accent.active {
  background-color: #000000;
  border: 2px solid #000000;
  color: #5765EC;
}

/* Ghost variant styles */

.ucomButton.ghost {
  background-color: transparent;
  border: 2px solid transparent;
  color: #777777;
}

.ucomButton.ghost:hover {
  color: #333333;
}

.ucomButton.ghost.active {
  color: #000000;
}